[submodule "test/unit_xe/3rdparty/drivers.gpu.compute.workloads"]
	path = test/unit_xe/3rdparty/drivers.gpu.compute.workloads
	url = https://github.com/intel-sandbox/drivers.gpu.compute.workloads.git
	fetchRecurseSubmodules = false
